In [1]:
import os

In [3]:
os.makedirs(os.path.join('..', 'data'), exist_ok=True)

In [4]:
data_file = os.path.join('..', 'data', 'house_tiny.csv')

In [5]:
with open(data_file, 'w') as f:
    f.write('Num of Rooms,Type of Alley,Price of House\n')
    f.write('NA,Pave,123456\n')
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [6]:
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   Num of Rooms Type of Alley  Price of House
0           NaN          Pave          123456
1           2.0           NaN          106000
2           4.0           NaN          178100
3           NaN           NaN          140000

In [9]:
# iloc stands for index_location
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
# 如果不加numeric_only会报错，怀疑是给什么不干净的东西加了
inputs = inputs.fillna(inputs.mean(numeric_only = 1))
print(inputs)

   Num of Rooms Type of Alley
0           3.0          Pave
1           2.0           NaN
2           4.0           NaN
3           3.0           NaN

In [13]:
# dummy_na = 1是为了给NaN的值添加一个单独的列
inputs = pd.get_dummies(inputs, dummy_na=1)
inputs

   Num of Rooms  Type of Alley_Pave  Type of Alley_nan
0           3.0                True              False
1           2.0               False               True
2           4.0               False               True
3           3.0               False               True

In [16]:
import torch

# 需要定义类型，才可以成功转换
x = torch.tensor(inputs.to_numpy(dtype=float))
y = torch.tensor(outputs.to_numpy(dtype=float))

x, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([123456., 106000., 178100., 140000.], dtype=torch.float64))